// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : rgb(0,122,255);
$secondary : #26A69A;
$accent    : rgb(88,86,214);
$pink      : rgb(255,45,85);
$dark      : #1D1D1D;

$positive  : #28cd41;
$negative  : rgb(255,59,48);
$info      : rgb(56, 182, 255);
$warning   : rgb(255,149,0);
$green     :  #3D8706;
$black     : #313131;
$blue : rgb(2,51,113);
